cairocffi==1.7.1
CairoSVG==2.7.1
cffi==1.17.1
chardet==5.2.0
chess==1.11.1
cssselect2==0.7.0
defusedxml==0.7.1
freetype-py==2.5.1
lxml==5.3.0
numpy==2.2.1
opencv-python==4.10.0.84
pillow==11.1.0
pyasn1==0.6.1
pycairo==1.27.0
pycparser==2.22
pygame==2.6.1
PySimpleGUI==5.0.8
reportlab==4.2.5
rlPyCairo==0.3.0
rsa==4.9
svglib==1.5.1
tinycss2==1.4.0
tk==0.1.0
webencodings==0.5.1
